html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  color: #FFF;
  text-decoration: none;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-md-1 { flex-basis: 8.3333% }
.col-md-2 { flex-basis: 16.6666% }
.col-md-3 { flex-basis: 24.9999% }
.col-md-4 { flex-basis: 33.3333% }
.col-md-5 { flex-basis: 41.6665% }
.col-md-6 { flex-basis: 49.9998% }
.col-md-7 { flex-basis: 58.3331% }
.col-md-8 { flex-basis: 66.6664% }
.col-md-9 { flex-basis: 74.9997% }
.col-md-10 { flex-basis: 83.3333% }
.col-md-11 { flex-basis: 91.6663% }
.col-md-12 { flex-basis: 100% }


@media (max-width: 991px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-sm-1 { flex-basis: 8.3333% }
  .col-sm-2 { flex-basis: 16.6666% }
  .col-sm-3 { flex-basis: 24.9999% }
  .col-sm-4 { flex-basis: 33.3333% }
  .col-sm-5 { flex-basis: 41.6665% }
  .col-sm-6 { flex-basis: 49.9998% }
  .col-sm-7 { flex-basis: 58.3331% }
  .col-sm-8 { flex-basis: 66.6664% }
  .col-sm-9 { flex-basis: 74.9997% }
  .col-sm-10 { flex-basis: 83.3333% }
  .col-sm-11 { flex-basis: 91.6663% }
  .col-sm-12 { flex-basis: 100% }
}

@media (max-width: 767px) {
 .col-xs-1,
 .col-xs-2,
 .col-xs-3,
 .col-xs-4,
 .col-xs-5,
 .col-xs-6,
 .col-xs-7,
 .col-xs-8,
 .col-xs-9,
 .col-xs-10,
 .col-xs-11,
 .col-xs-12 {
   padding-left: 8px;
   padding-right: 8px;
   box-sizing: border-box;
 }
 .col-xs-0 {
   padding: 0;
   display: none;
 }
 .col-xs-0 { flex-basis: 0%}
 .col-xs-1 { flex-basis: 8.3333% }
 .col-xs-2 { flex-basis: 16.6666% }
 .col-xs-3 { flex-basis: 24.9999% }
 .col-xs-4 { flex-basis: 33.3333% }
 .col-xs-5 { flex-basis: 41.6665% }
 .col-xs-6 { flex-basis: 49.9998% }
 .col-xs-7 { flex-basis: 58.3331% }
 .col-xs-8 { flex-basis: 66.6664% }
 .col-xs-9 { flex-basis: 74.9997% }
 .col-xs-10 { flex-basis: 83.3333% }
 .col-xs-11 { flex-basis: 91.6663% }
 .col-xs-12 { flex-basis: 100% }
}

                                  /* HEADER */
.header {
  width: 100%;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16); /* FIXME */
}

/* CONTAINER */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  width: 976px;
}
@media (max-width: 991px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: -8px;
  margin-right: -8px;
}

.logo {
  height: 72px;
  display: flex;
  align-items: center;
}

.main_logo {
  width: 121px;
  height: 13px;
}
@media (max-width: 991px){
  .main_logo {
    width: 107px;
    height: 11px;
  }
}
@media (max-width: 767px){
  .main_logo {
    width: 107px;
    height: 11px;
  }
}
  
.delivery_form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
@media (max-width: 767px) {
  .delivery_form {
    display: none;
  }
}

.delivery_time {
  width: 65px;
  height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align-last: center;
  text-align: center;
  border: #E0E0E0 1px solid;
  border-radius: 2px;
  font-size: 16px;
  color: #1D1D1D;
}
@media (max-width: 991px) {
  .delivery_time {
    width: 57px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .delivery_time {
    display: none;
  }
}


.delivery_label {
  font-size: 16px;
  line-height: 19px;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 991px) {
  .delivery_label {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (max-width: 767px) {
  .delivery_label {
    display: none;
  }
}

.delivery_adress {
  width: 292px;
  height: 40px;
  border: #E0E0E0 1px solid;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
  padding-left: 36px;
  background-image: url(../images/shape.png);
  background-repeat: no-repeat;
  background-position: 12px;
}
@media (max-width: 991px) {
  .delivery_adress {
    font-size: 13px;
    width: 215px;
  }
}
@media (max-width: 767px) {
  .delivery_adress {
    display: none;
  }
}

.delivery_buttons {
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row nowrap;
  padding: 16px 16px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .delivery_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
  
  }
}

.delivery_buttons_singin {
  width: 80px;
  height: 40px;
  color: #1D1D1D;
  border: #E0E0E0 1px solid;
  border-radius: 2px;
  margin-right: 16px;
}
@media (max-width: 767px){
  .delivery_buttons_singin {
    width: 72px;
    height: 40px;
    font-size: 11px;
    line-height: 13px;
  }
}
.delivery_buttons_register {
  width: 80px;
  height: 40px;
  color: #FFF;
  border: #262626 1px solid;
  border-radius: 2px;
  background: #262626;
  margin-right: 27px;
}
@media (max-width: 767px){
  .delivery_buttons_register {
    width: 72px;
    height: 40px;
    font-size: 11px;
    line-height: 13px;
  }
}

@media (max-width: 767px) {
  .delivery_buttons_basket {
    height: 0;
    overflow: hidden;
  }
}

                                  /* MAIN */
.main {
  width: 100%;
}

.row_main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-right: -8px;
  margin-left: -8px;
}

.search_restaurants {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 47px;
  align-items: center;
  margin-top: 32px;
  border-bottom: #757575 1px solid;
  box-sizing: border-box;
}

.search_restaurants_shape {
  width: 22px;
  height: 21.9px;
}
@media (max-width: 767px){
  .search_restaurants_shape {
    width: 16px;
    height: 16px;
  }
}

.search_restaurants_input {
  width: 230px;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  background: #FFF;
  outline: none;
  border: #FFF 0px solid;
  margin-left: 8px;
}
@media (max-width: 767px) {
  .search_restaurants_input {
    font-size: 13px;
    width: 182px;
  }
}
                  /*      <HIDDEN SECTION>      */
.delivery_small {
  display: none;  
}
@media (max-width: 767px) {
  .delivery_small {
    display: flex;
    flex-flow: row wrap;
    margin-top: 24px;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: -8px;
    margin-right: -8px;
  }
}
.delivery_small_form {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  align-items: center; 
}

.delivery_small_time {
  width: 65px;
  height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align-last: center;
  text-align: center;
  border: #E0E0E0 1px solid;
  border-radius: 2px;
  font-size: 13px;
  line-height: 24px;
  color: #1D1D1D;
  margin-top: 8px;
}

.delivery_small_adress {
  width: 227px;
  height: 40px;
  border: #E0E0E0 1px solid;
  border-radius: 2px;
  font-size: 13px;
  line-height: 24px;
  color: #1D1D1D;
  padding-left: 35px;
  background-image: url(../images/shape.png);
  background-repeat: no-repeat;
  background-position: 12px;
  margin-top: 8px;
  margin-left: 4px;
}

.delivery_small_adress_label,
.delivery_small_time_label {
  font-size: 11px;
  line-height: 13px;
  color: #262626;
  margin-top: 24px;
}
                          /*     </HIDDEN SECTION>      */
.moscow_rests_title {
  font-size: 22px;
  line-height: 34px;
  color: #1D1D1D;
  margin-top: 56px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .moscow_rests_title {
    margin-top: 40px;
    margin-bottom: 14px;
  }
}

.moscow_rests {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  margin-left: -8px;
  margin-right: -8px;
}

.rests_name {
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
  margin-top: 16px;
}

.rests_typeoffood {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

.rests_timeofcooking {
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
  margin-bottom: 36px;
}
                                  /* FOOTER */
.footer {
  width: 100%;
  background: #262626;
  position: relative;
}

.row_footer {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin-left: -8px;
  margin-right: -8px;
  align-items: flex-start;
}

.footer_logo {
  border-bottom: 1px solid #FFF;
}

.logo_footer_image {
  width: 192px;
  height: 20px;
  margin-top: 56px;
  margin-bottom: 40px;
}

.footer_contacts_row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: #FFF;
  border-bottom: #FFF 1px solid;
}

.footer_language_select {
  width: 227px;
  height: 40px;
  margin-top: 32px;
  background: #3B3B3B;
  font-size: 13px;
  line-height: 15px;
  color: #FFF;
  border: #3B3B3B 0px solid;
  border-radius: 2px;
  margin-left: -8px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;
  background: url(../images/world.png) 24px no-repeat,
    url(../images/select-arrow-down.png) 204px no-repeat, #3b3b3b;
  -moz-appearance: none;
  -webkit-appearance: none;
}
@media (max-width: 991px) {
  .footer_language_select {
    width: 176px;
    background: url(../images/world.png) 24px no-repeat,
    url(../images/select-arrow-down.png) 154px no-repeat, #3b3b3b;
  }
}
@media (max-width: 767px) {
  .footer_language_select {
    width: 173px;
    background: url(../images/world.png) 24px no-repeat,
    url(../images/select-arrow-down.png) 151px no-repeat, #3b3b3b;
  }
}

.ubereats_tag {
  font-size: 16px;
  line-height: 19px;
  margin-top: 33px;
  color: #FFF;
}

.hashtag_green {
  color: #49A144;
}
.socialnetworks {
  margin-top: 15px;
}

.socialnetworks_facebook {
  width: 24px;
  height: 24px;
  color: #DADADA;
}

.socialnetworks_twitter {
  width: 24px;
  height: 24px;
  color: #DADADA;
  margin-left: 12px;
}

.socialnetworks_instagram {
  width: 24px;
  height: 24px;
  color: #DADADA;
  margin-left: 9px;
}

.footer_links {
  margin-top: 30px;
  margin-left: -38px;
}

.footer_links > li {
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 15px;
  color: #FFF;
  list-style: none;
}

.footer_downloads {
  height: 120px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: #FFF 1px solid;
}

.download_btn_appstore {
  margin-right: 42px;
}

.bottom_footer {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  height: 93px;
}
@media (max-width:767px) {
  .bottom_footer{
    height: 100%;
  }
}

.bottom_footer_text {
  font-size: 11px;
  line-height: 13px;
  color: #FFF;
  margin-top: 40px;
}

.arrow_to_top {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background-color: #59BD5A;
  color: #FFF;
  background-image: url(../images/arrow_to_top.png);
  background-position: center;
  background-repeat: no-repeat;
}